:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-pink: #dc143c;
    --transition: .5s;
    --font-body: "Poppins", sans-serif;
}

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: var(--font-body);
}

html {
    scroll-behavior: smooth;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 600;
    transition: var(--transition);
}

a:hover {
    color: var(--color-pink);
}


.container {
    width: 100%;
    height: 100vh;   
    background-image: linear-gradient( to top, rgba(0, 0, 0, .8), 
    rgba(0, 0, 0, .3)),
    url(../images/vinicolas/pexels-tim-mossholder-2331884.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.header-page {
    width: 100%;
    height: 100px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-page h1 {
    color: var(--color-light);
    font-size: 4vmin;
}

.header-page ul {
    display: flex;
    gap:30px;
}

/*********************** fim header ***********************/
/*********************** hero ***********************/
.hero {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--color-light); 
    text-align: center;   

    & h2 {
        font-size: clamp(20px, 4vw, 40px);
    }

    & p {
        width: 60%;
        text-wrap: balance;
        line-height: 1.6;
    }
}

.btn {
    border: 3px solid var(--color-pink);
    padding: 8px 30px;
    background-color: var(--color-pink);
    border-radius: 70px;
    transition: background-color var(--transition);

    &:hover {
        background-color: transparent;
    }
}

/********************* fim hero ********************/


/********************* wines ********************/
.wines {
    min-height: 100vh;
    margin: 40px auto;
    width: 90%;
}
.wines h2 {
    margin: 30px 0 50px;
}
.wines-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;    
}
.wines-item  {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    box-shadow: 1px 1px 30px #ccc;
    transition: scale .7s;
    border-radius: 7px;
}

.wines-item:hover {
    scale: 1.1;
}

.wines-item img {
    width: 30%;    
}

/********************* fim wines ********************/

/********************* promoção *********************/

.wine-promotion {
    width: 80%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    border-radius: 7px;
}

.wine-photo {
    width: 45%;
    margin: 50px 0;
    text-align: center;
}

.wine-photo img {
    width: 70%;
    box-shadow: 1px 1px 30px #aaa;
    border-radius: 7px;
}

.wine-text {
    width: 45%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.wine-text h4 {
    color: var(--color-pink);
    font-weight: 600;
    margin-bottom: -40px;
}

.wine-text h3 {
    font-size: clamp(18px, 2vw, 35px);
    text-wrap: balance;
    line-height: 1.3;
}

.wine-text p {
    width: 90%;
}

.wine-text .btn {
    border-radius: 0;
    background-color: transparent;
    color: var(--color-dark);
    border-color: var(--color-dark);
    border-width: 1px;

    &:hover {
        color: var(--color-pink);
    }
}

/* Pensando no responsivo */

/* @media(max-width: 950px){ */
@media(width <= 950px){
    .wines-item  {
        width: 42%;
    }

    .wine-photo {
        width: 80%;
    }

    .wine-text{
        width: 80%;
        align-items: center;
        text-align: center;
        padding-bottom: 40px;
    }

    .wine-text h4 {
        display: none;
    }
}

/* @media(max-width: 650px){ */
@media(width <= 650px){
    .wines-item  {
        width: 88%;
    }
}